<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
          <div class="panel-heading">商品カテゴリー</div>
          <div class="panel-body">
            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
              <ul class="nav navbar-nav side-nav">
                <% categories.each do |category| %>
                  <li>
                    <%= link_to "javascript:;", "data-toggle": "collapse", "data-target": "#category_#{category.id}" do %>
                      <%= category.name %><i class="fa fa-plus"></i>
                    <% end %>
                    <ul id="category_<%= category.id %>" class="collapse collapseItem">
                      <% category.taxons.each do |taxon| %>
                        <% if taxon.parent == taxon.root %>
                          <% if taxon.children.present? %>
                            <%= link_to "javascript:;", "data-toggle": "collapse", "data-target": "#category_#{ taxon.id }" do %>
                              <%= taxon.name %><i class="fa fa-plus"></i>
                            <% end %>
                            <ul id="category_<%= taxon.id %>" class="collapse collapseItem">
                              <% taxon.children.each do |child| %>
                                <li>
                                  <%= link_to potepan_category_path(child.id) do %>
                                    <i class="fa fa-caret-right" aria-hidden="true"></i><%= child.name %><span>(<%= child.products.size %>)</span>
                                  <% end %>
                                </li>
                              <% end %>
                            </ul>
                          <% else %>
                            <li>
                              <%= link_to potepan_category_path(taxon.id) do %>
                                <i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %><span>(<%= taxon.products.size %>)</span>
                              <% end %>
                            </li>
                          <% end %>
                        <% end %>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default priceRange">
          <div class="panel-heading">値段から探す</div>
          <div class="panel-body clearfix">
            <div class="price-slider-inner">
              <span class="amount-wrapper">
                <input type="text" id="price-amount-1" readonly>
                <strong>-</strong>
                <input type="text" id="price-amount-2" readonly>
              </span>
              <div id="price-range"></div>
            </div>
            <input class="btn btn-default" type="submit" value="絞り込む">
            <!-- <span class="priceLabel">Price: <strong>12 円- 30<円/strong></span> -->
          </div>
        </div>
        <div class="panel panel-default filterNormal">
          <div class="panel-heading">色から探す</div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li><a href="#">ブラック<span>(15)</span></a></li>
              <li><a href="#">ホワイト<span>(10)</span></a></li>
              <li><a href="#">レッド<span>(7)</span></a></li>
              <li><a href="#">ブルー<span>(12)</span></a></li>
              <li><a href="#">オレンジ<span>(12)</span></a></li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default filterNormal">
          <div class="panel-heading">サイズから探す</div>
          <div class="panel-body">
            <ul class="list-unstyled clearfix">
              <li><a href="#">S<span>(15)</span></a></li>
              <li><a href="#">M<span>(10)</span></a></li>
              <li><a href="#">L<span>(7)</span></a></li>
              <li><a href="#">XL<span>(12)</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <div class="col-xs-6">
            <select name="guiest_id1" id="guiest_id1" class="select-drop">
              <option value="0">並び替え</option>
              <option value="1">人気順</option>
              <option value="2">安い順</option>
              <option value="3">新着順</option>
              <option value="3">高い順</option>
            </select>
          </div>
          <div class="col-xs-6">
            <div class="btn-group pull-right" role="group">
              <button type="button" class="btn btn-default active" onclick="window.location.href='product_grid_left_sidebar.html'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
              <button type="button" class="btn btn-default" onclick="window.location.href='product_list_left_sidebar.html'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
            </div>
          </div>
        </div>
        <div class="row">
          <% products.each do |product| %>
            <div class="col-sm-4 col-xs-12">
              <div class="productBox">
                <div class="productImage clearfix">
                  <% product.images.each_with_index do |image, i| %>
                    <%= image_tag(image.attachment.url(:small)) if i.zero? %>
                  <% end %>
                  <div class="productMasking">
                    <ul class="list-inline btn-group" role="group">
                      <li>
                        <%= link_to ".login-modal", "data-toggle": "modal", class: "btn btn-default" do %>
                          <i class="fa fa-heart"></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to "/potepan/cart_page.html", class: "btn btn-default" do %>
                          <i class="fa fa-shopping-cart"></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to ".quick-view", "data-toggle": "modal", class: "btn btn-default" do %>
                          <i class="fa fa-eye"></i>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="productCaption clearfix">
                  <%= link_to potepan_product_path(product.id) do %>
                    <h5><%= product.name %></h5>
                  <% end %>
                  <h3><%= product.display_price %></h3>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
