<% provide(:title, @taxon.name) %>

<%= render 'shared/light_section', section_name: @taxon.name %>

<%= render 'product_list', products: @products, categories: @categories %>

<%= render 'light_section' %>