<% provide(:title, "All Items") %>

<%= render 'shared/light_section', section_name: "All Items" %>

<%= render 'potepan/categories/product_list', products: @products, categories: @categories %>

<%= render 'potepan/categories/light_section' %>