<div class="modal fade login-modal" id="login" tabindex="-1" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 class="modal-title">ログイン</h3>
    </div>
    <div class="modal-body">
      <form action="login-" method="POST" role="form">
        <div class="form-group">
          <label for="login-email">メールアドレス</label>
          <input type="email" class="form-control" id="login-email">
        </div>
        <div class="form-group">
          <label for="login-password">パスワード</label>
          <input type="password" class="form-control" id="login-password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> 記憶しておく
          </label>
        </div>
        <button type="submit" class="btn btn-primary btn-block">ログイン</button>
        <a href="lost-password.html" class="btn btn-link btn-block">パスワードをお忘れの方</a>
      </form>
    </div>
  </div>
</div>
</div>
