<!DOCTYPE html>
<html>
  <head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title(page_title: yield(:title)) %></title>
    <!-- GOOGLE FONT -->
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', media: "all" %>
    <%= render 'layouts/shim' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="main-wrapper">
      <!-- HEADER -->
      <%= render 'shared/header' %>
      <%= yield %>
      <!-- FOOTER -->
      <!-- COPY RIGHT -->
      <%= render 'shared/footer' %>
    </div>
    <!-- LOGIN MODAL -->
    <%= render 'shared/login_modal' %>
    <!-- SIGN UP MODAL -->
    <%= render 'shared/signup_modal' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
